<%= form_for @tweet do |f| %>

    <h3>いももち</h1>
    <h2>オススメポイント！</h2>
    <h3> <p>しょっぱいものが食べたいときに！</P>
    <p>がっつり食べたいときに！</p>
    <p>緑茶などと一緒に！</P>
    <p> おやつ感覚で！</P>
    </h3>
    <br>
    <h2> 材料 </h2>
    <br>
    <h3><p>ジャガイモ 1個</P>
        <P>片栗粉 大さじ1弱</P>
        <p>醤油 25cc</P>
        <p>砂糖 50g</P>
        <p>みりん 25cc</P>
        <p>水 50cc</P>
        <p> 片栗粉 大さじ1.5</P>
        <p>水 大さじ3</p>
        
    </h3>  
<% end %>

<p><%= link_to "レシピはこちら", "https://cookpad.com/jp/recipes/18412555", target: "_blank", rel: "noopener" %></P>


<%= link_to "一覧に戻る", tweets_path %>
