<%= form_for @tweet do |f| %>

    <h1>カヌレ</h1>
    <h2>オススメポイント！</h2>
    <h3> <p>甘いものが食べたいときに！</P>
    <p>リラックスしたいときに！</p>
    <p>紅茶などと一緒に！
    <p> 中はふわっと外はサクッと！
    </h3>
    <br>
    <h2> 材料 6枚分</h2>
    <br>
    <h3><p> 牛乳 250ml</P>
        <p>バニラオイル 5滴</P>
        <P>バター 10g</P>
        <p>砂糖 60g-お好みで</P>
        <p>卵 1個</p>
        <p>強力粉 50g</P>
        <p>ラム酒 大さじ1</P>
        <P>バター 適量</P>
        
    </h3>  
<% end %>

<p><%= link_to "レシピはこちら", "https://cookpad.com/jp/recipes/17736406", target: "_blank", rel: "noopener" %></P>


<%= link_to "一覧に戻る", tweets_path %>
