<%= form_for @tweet do |f| %>

    <h1>クラッカー</h1>
    <h2>オススメポイント！</h2>
    <h3> <p>チーズやトマトなどと一緒に！</P>
    <p>リラックスしたいときに！</p>
    <p>紅茶などと一緒に！
    <p> しょっぱい物が食べたいときに！</P>
    </h3>
    <br>
    <h2> 材料 16枚分</h2>
    <br>
    <h3><p>薄力粉 80g</P>
        <p>オリーブオイル 大さじ1杯</P>
        <P>水 40cc</P>
        <p>塩 小さじ1/3杯</P>
        <p>牛乳 大さじ1杯 </p>
        <p>塩 (つや出し用) 少々</P>
        
    </h3>  
<% end %>

<p><%= link_to "レシピはこちら", "https://macaro-ni.jp/83499", target: "_blank", rel: "noopener" %></P>


<%= link_to "一覧に戻る", tweets_path %>
