<%= form_for @tweet do |f| %>

    <h1>マカロン</h1>
    <br>
    <h2>オススメポイント！</h2>
    <br>
    <h3> <p>頑張りたいときに！</P>
    <p>甘いものが食べたいときに！</P>
    <p>ほろほろ食感！</P>
    <p>紅茶と食べるとおいしい</p>
    </h3>
    <br>
    <h2> 材料 2人分</h2>
    <br>
    <h3><p>粉糖 100g</P>
        <p>アーモンドパウダー 110g</P>
        <P>卵白 80g</P>
        <p>グラニュー糖 80g</P>
        <P>食用色素 お好きな色を適量 </P>
    </h3>  
<% end %>

<p><%= link_to "レシピはこちら", "https://www.cotta.jp/special/article/?p=63430",target: "_blank", rel: "noopener" %></P>

<%= link_to "一覧に戻る", tweets_path %>
