<%= form_for @tweet do |f| %>

    <h1>ナッツ</h1>
    <br>
    <h2>オススメポイント！</h2>
    <br>
    <h3> <p>頑張りたいときに！</P>
    <p>しょっぱいものが食べたいときに！</P>
    <p>お手軽に食べれる</P>
    <p>ほろほろ食感！</P>
    </h3>
    <br>
    <h2> 材料 3人分</h2>
    <br>
    <h3><p>ナッツ 100g</P>
        <p>メープルシロップ 大さじ2</P>
        <P>塩 ひとつまみ</P>
        <P>黒こしょう 適量</P>
    </h3>   

  
<% end %>

<p><%= link_to "レシピはこちら", "https://oceans-nadia.com/user/968492/recipe/483206", target: "_blank", rel: "noopener" %></P>


<%= link_to "一覧に戻る", tweets_path %>
