<%= form_for @tweet do |f| %>

    <h1>おかき</h1>
    <br>
    <h2>オススメポイント！</h2>
    <br>
    <h3> <p>がっつりたべたい！</P>
    <p>しょっぱいものが食べたいときに！</P>
    <p>手軽に食べたいときに！</P>
    <p>サクサク食感！</P>
    </h3>
    <br>
    <h2> 材料 2人分</h2>
    <br>
    <h3><p>切り餅 3個</P>
        <p>バター 10g</P>
        <P>醤油 大さじ1と1/2</P>
    </h3>  
  
<% end %>

<p><%= link_to "レシピはこちら", "https://delishkitchen.tv/recipes/230548347226686564",target: "_blank", rel: "noopener" %></P>

<%= link_to "一覧に戻る", tweets_path %>
