<%= form_for @tweet do |f| %>

    <h1>のり塩ポテト</h1>
    <br>
    <h2>オススメポイント！</h2>
    <br>
    <h3> <p>がっつりたべたい！</P>
    <p>しょっぱいものが食べたいときに！</P>
    <p>お手軽に食べれる</P>
    <p>サクサク、ほろほろ食感！</P>
    </h3>
    <br>
    <h2> 材料 2人分</h2>
    <br>
    <h3><p>ジャガイモ 2個</P>
        <p>バター 小さじ1</P>
        <P>塩 適量</P>
        <P>青のり 好きなだけ</P>
    </h3>

  
<% end %>

<p><%= link_to "レシピはこちら", "https://cookpad.com/jp/recipes/18497904", target: "_blank", rel: "noopener" %></P>


<%= link_to "一覧に戻る", tweets_path %>
