<%= form_for @tweet do |f| %>

    <h1>プレッツェル</h1>
    <br>
    <h2>オススメポイント！</h2>
    <br>
    <h3> <p>サクサク食感！</P>
    <p>リラックスしたいときに！</p>
    <p>頑張りたいときに！</P>
    <p> 手軽に食べたいときに！</P>
    </h3>
<br>
<h2> 材料 5個分</h2>
<br>
<h3><p>強力粉 200g</p>
<p>塩 3g</p>
<p>砂糖 8g</P>
<p>バター 12g</P>
<p> ドライイースト 1g</P>
<p>ぬるま湯115g</P>
<p>岩塩 適量</P>
<p> お湯 750cc </P>
<p>重曹 35g </P>
</h3>
<% end %>

      
<p><%= link_to "レシピはこちら", "https://cookpad.com/jp/recipes/20363149", target: "_blank", rel: "noopener" %></P>


<%= link_to "一覧に戻る", tweets_path %>
