<%= form_for @tweet do |f| %>

    <h1>せんべい</h1>
    <br>
    <h2>オススメポイント！</h2>
    <br>
    <h3> <p>しょっぱい物が食べたいときに！</P>
    <p>気分転換したいときに！</p>
    <p>リラックスしたいときに！</P>
    <p> サクサク食感！</P>
    </h3>
<br>
<h2> 材料 </h2>
<br>
<h3><p>上新粉 200g</p>
<p>水 3/4カップ</p>
<p>醤油 少々</P>

</h3>
<% end %>

      
<p><%= link_to "レシピはこちら", "https://sancha-arare-daikokuya.com/blogs/blog/senbei-recipe", target: "_blank", rel: "noopener" %></P>


<%= link_to "一覧に戻る", tweets_path %>
