
<%= form_for @tweet do |f| %>

    <h1>和菓子</h1>
    <br>
    <h2>こんなあなたにオススメ！</h2>
    <br>
    <h3> <p>落ち着いた味のをたべたい</P>
    <p>緑茶などと一緒に！</P>
    <p>甘い物が食べたいときに！</P>
    <p>リラックスしたいときに!</P>
    </h3>
<br>
<h2>材料 8人分</h2>
<br>
<h3><p>粒あん 200g</p>
<p>醤油 小さじ1</p>
<p>イチゴ 200g</P>
<p>片栗粉 適量</p>
<p>白玉子 100g</P>
<p>片栗粉 10g</P>
<p>砂糖 50g</P>
<P>水 160g</P>
</h3>
  
<% end %>

<p><%= link_to "レシピはこちら","https://www.kikkoman.co.jp/homecook/search/recipe/00005885/", target: "_blank", rel: "noopener" %></P>



<%= link_to "一覧に戻る", tweets_path %>
