<%= form_for @tweet do |f| %>

    <h1>ゼリー</h1>
    <br>
    <h2>オススメポイント！</h2>
    <br>
    <h3> <p>甘くさっぱりしたものが食べたいときに！</P>
    <p>リラックスしたいときに！</p>
    <p>お子様や友だちと一緒に！</P>
    <p> がっつり食べたいときに！</P>
    </h3>
<br>
<h2> 材料 4人分</h2>
<br>
<h3><p>ゼラチン 5g</p>
<p>水 500ml</p>
<p>砂糖 40g</P>
<p>レモン汁 大さじ1</P>
<p> 香料 適量</P>
</h3>
<% end %>

      
<p><%= link_to "レシピはこちら", "https://gagalog.com/recipe/42192", target: "_blank", rel: "noopener" %></P>


<%= link_to "一覧に戻る", tweets_path %>
