<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのお菓子は…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>アップルパイ</h6>
    <p>頑張りたいときにオススメ</p>
    <p>がっつり食べたいときに！</p>

  <% when ["1", "1", "1", "2"] %>
    <h6>のり塩ポテト</h6>
    <p>頑張りたいときにオススメ</p>
    <p>がっつりしょっぱいものたべたいときにオススメ！</p>
  <% when ["1", "1", "2", "1"] %>
    <h6>チョコレート</h6>
    <p>頑張りたいときにオススメ</p>
    <p>落ち込んでいるときに気分を上げるのにオススメ</p>
  <% when ["1", "1", "2", "2"] %>
    <h6>ナッツ</h6>
    <p>頑張りたいときにオススメ</p>
    <p>しょっぱいものが食べたいときにオススメ</p>
  <% when ["1", "2", "1", "1"] %>
    <h6>クッキー</h6>
    <p>頑張りたいときにオススメ</p>
    <p>甘い物で気分転換したいときにオススメ</p>
  <% when ["1", "2", "1", "2"] %>
    <h6>ポテトチップ</h6>
    <p>がっつり食べたい時にオススメ</p>
    <p>しょっぱい物が食べたいときにオススメ</p>
  <% when ["1", "2", "2", "1"] %>
    <h6>マカロン</h6>
    <p>甘いものが食べたいときにオススメ</p>
    <p>片手で食べやすい！</p>
  <% when ["1", "2", "2", "2"] %>
    <h6>プレッツェル</h6>
    <p>頑張りたいときにオススメ</p>
    <p>手軽に食べたいときに！</p>
  <% when ["2", "1", "1", "1"] %>
    <h6>ケーキ</h6>
    <p>リラックスしたいときにオススメ</p>
    <p>甘い物が食べたいときに！</p>
  <% when ["2", "1", "1", "2"] %>
    <h6>いももち</h6>
    <p>しょっぱい物が食べたいときにオススメ</p>
    <p>がっつり食べたいときに！</p>
  <% when ["2", "1", "2", "1"] %>
    <h6>和菓子</h6>
    <p>甘い物が食べたいときに！</p>
    <p>リラックスしたいときにオススメ</p>
  <% when ["2", "1", "2", "2"] %>
    <h6>せんべい</h6>
    <p>しょっぱいものが食べたいとき！</p>
    <p></p>リラックスしたいときにオススメ
  <% when ["2", "2", "1", "1"] %>
    <h6>ゼリー</h6>
    <p>甘い物が食べたいときにオススメ</p>
    <p>さっぱり食べれる！</p>
  <% when ["2", "2", "1", "2"] %>
    <h6>おかき</h6>
    <p>しょっぱいものが食べたいときにオススメ</p>
    <p>がっつりたべたいときに！</p>
  <% when ["2", "2", "2", "1"] %>
    <h6>カヌレ</h6>
    <p>リラックスしたいときに！</p>
    <p>紅茶と食べるのがオススメ</p>
  <% when ["2", "2", "2", "2"] %>
    <h6>クラッカー</h6>
    <p>しょっぱい物が食べたいときにオススメ</p>
    <p>様々な物を乗せて食べれる！</p>
  <% end %>
</div>
