/*   First block   */
#first-block {
  background-size: cover;
  width: 50%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  text-align: center;
}
.info-title {
  font-size: 60px;
  font-family: serif;
  margin-bottom: 20px;
  color: #444;
  text-align: left;
}

.info-text {
  font-size: 20px;
  margin-bottom: 20px;
  color: #444;

  width: 30%;
}
.cake {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}


